<p>Username: {{ .Username }}</p>
<div id="ssc-list">
{{ range .Comments -}}
<div class="ssc-comment">
	<div class="ssc-author">{{ .Author }}</div>
	<div class="ssc-body">{{ .SafeBody }}</div>
</div>
{{- end -}}
</div>
	<p>Enter your comment below.</p>
	{{ if .Moderated }}
	<p class="ssc-notice">
		Comments must be approved before they will be published.
	</p>
	{{ end }}
	<form id="ssc-form" action="<${BASE_URL}/>/new-comment" method="POST">
		<div>
			<textarea id="ssc-body-input" name="body" placeholder="type your comment..."></textarea>
		</div>
		<button id="ssc-submit" type="submit">Post</button>
		<input type="hidden" name="redirect" value="<${REDIRECT_RAW}/>" />
		<input type="hidden" name="article_id" value="{{ .ArticleId }}" />
		{{ .CSRFField }}
	</form>
{{/* vim: set ts=2 sw=2 noet tw=0 */}}
