<div id="ss-comments-list">
{{ range .Comments -}}
<div class="ss-comments-comment">
	<div class="ss-comments-author">{{ .Author }}</div>
	<div class="ss-comments-body">{{ .SafeBody }}</div>
</div>
{{- end -}}
</div>
<form id="ss-comments-form" action="/new-comment" method="POST">
	<div>
		<div>
			<input id="ss-comments-author-input" name="author" placeholder="nick name" />
		</div>
		<div>
			<textarea id="ss-comments-body-input" name="body" placeholder="type your comment..."></textarea>
		</div>
		<button id="ss-comments-submit" type="submit">Post</button>
	</div>
	<input id="ss-comments-redirect" type="hidden" name="redirect" value="" />
	<input type="hidden" name="article_id" value="{{ .ArticleId }}" />
	{{ .CSRFField }}
</form>
