<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sandstorm comments</title>
		<script src="/static/offer-iframe.js"></script>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div id="content">

			<h1>Settings</h1>

			<form action="/settings" method="post">
				<div>
					<label for="require-moderation">Require Moderation?</label>
					<input
						type="checkbox"
						id="require-moderation"
						name="require-moderation"
						{{ if .Settings.RequireModeration -}}
						checked="checked"
						{{- end }} />
				</div>
				{{ .CSRFField }}
				<button type="submit">Apply</button>
			</form>

			<hr />

			<h1>Adding to your site</h1>
			<p>To embed comments from this grain in your page, add this
			to your page's <code>&lt;head&gt;</code> element:</p>

			<iframe id="offer-iframe"></iframe>

			<p>...and add a <code>&lt;div&gt;</code> element with the id "ss-comments"
			where you want them to appear:</p>

			<p><code>&lt;div id="ss-comments" /&gt;</code></p>

			<p>Comments are tracked based on the url, so e.g. if you have blog posts
			at each of</p>

			<ul>
				<li>https://example.com/posts/1</li>
				<li>https://example.com/posts/2</li>
				<li>https://example.com/posts/3</li>
			</ul>

			<p>Comments for each of them will be managed separately.</p>

			<h1>Manage Comments</h1>

			<table>
				<tr>
					<th>Page</th>
					<th>Author</th>
					<th>Content</th>
					<th>State</th>
					<th>Actions</th>
				</tr>
				{{ $csrf := .CSRFField }}
				{{ range .Comments -}}
				<tr>
					<td>{{ .ArticleId }}</td>
					<td>{{ .Author }}</td>
					<td>{{ .SafeBody }}</td>
					<td>
						{{- if .NeedsModeration -}}
							Needs Moderation
						{{- else -}}
							Published
						{{- end -}}
					</td>
					<td>
						{{ if .NeedsModeration -}}
						<form action="/approve/{{ .Id }}" method="post">
							{{ $csrf }}
							<button type="submit">Approve</button>
						</form>
						{{- end }}
						<form action="/delete/{{ .Id }}" method="post">
							{{ $csrf }}
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
				{{- end }}
			</table>

		</div>
	</body>
</html>

